body {
    font-family: inter, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header-container {
    width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
}
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header {
    display: flex;
}

.nav-header .link {
    display: block;
    padding: 38px 0;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);

    color: #000000;
}

.nav-header .item + .item {
    margin-left: 24px;
}